interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api-cloud.browserstack.com/app-automate/recent_apps/
  response:
    content: '[{"app_name":"my-app.ipa","app_version":"4.23.0","app_url":"bs://355e6259172efcdd09c49bae90d7f464e8ca2036","app_id":"355e6259172efcdd09c49bae90d7f464e8ca2036","uploaded_at":"2020-09-03
      21:42:33 UTC"},{"app_name":"app-debug.apk","app_version":"4.22.1.DEBUG","app_url":"bs://0fb5cfaa3250f666365ab4e812de002bd1ef69ee","app_id":"0fb5cfaa3250f666365ab4e812de002bd1ef69ee","uploaded_at":"2020-09-03
      21:07:29 UTC"},{"app_name":"app-debug.apk","app_version":"4.22.1.DEBUG","app_url":"bs://a612326e283606fff64629f35a0ccc822a296222","app_id":"a612326e283606fff64629f35a0ccc822a296222","uploaded_at":"2020-09-03
      21:05:00 UTC","custom_id":"android","shareable_id":"pyppium-user/android"},{"app_name":"my-app.ipa","app_version":"4.23.0","app_url":"bs://4a57c058306e3c514b1f683a3bb3ffae6323322b","app_id":"4a57c058306e3c514b1f683a3bb3ffae6323322b","uploaded_at":"2020-08-25
      16:52:43 UTC","custom_id":"ios","shareable_id":"pyppium-user/ios"},{"app_name":"app-debug.apk","app_version":"4.23.DEBUG","app_url":"bs://dd1ea772e834b05a09579f01142545846ecf4637","app_id":"dd1ea772e834b05a09579f01142545846ecf4637","uploaded_at":"2020-08-25
      16:05:23 UTC","custom_[...]
