interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api-cloud.browserstack.com/app-automate/recent_apps/android
  response:
    content: '[{"app_name":"my-app.ipa","app_version":"4.23.0","app_url":"bs://8cda444d6390db17b0a144be79be9ed996406dbc","app_id":"8cda444d6390db17b0a144be79be9ed996406dbc","uploaded_at":"2020-09-03
      21:40:28 UTC","custom_id":"android","shareable_id":"pyppium-user/android"},{"app_name":"app-debug.apk","app_version":"4.22.1.DEBUG","app_url":"bs://a612326e283606fff64629f35a0ccc822a296222","app_id":"a612326e283606fff64629f35a0ccc822a296222","uploaded_at":"2020-09-03
      21:05:00 UTC","custom_id":"android","shareable_id":"pyppium-user/android"},{"app_name":"app-debug.apk","app_version":"4.23.DEBUG","app_url":"bs://dd1ea772e834b05a09579f01142545846ecf4637","app_id":"dd1ea772e834b05a09579f01142545846ecf4637","uploaded_at":"2020-08-25
      16:05:23 UTC","custom_id":"android","shareable_id":"pyppium-user/android"},{"app_name":"app-debug.apk","app_version":"4.22.1.DEBUG","app_url":"bs://a71bf7affb25de15ad91ce0a21a269daadeea985","app_id":"a71bf7affb25de15ad91ce0a21a269daadeea985","uploaded_at":"2020-08-14
      14:40:21 UTC","custom_id":"android","shareable_id":"pyppium-user/android"},{"app_name":"app-debug.apk","app_version":"4.22.DEBUG","app_url":"bs://0cfe73322a318b3c6a02163851107346032e6f39","app_id":"0cfe73322a318b3c6a02163851107346032e6f39","uploaded_at":"2020-08-12
      15:55:19 UTC","custom_id":"android","shareable_id":"pyppium-user/android"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"e2125d24bf96b11f1d0e66ef50be8190"'
      status:
      - 200 OK
    status_code: 200
version: 1
