interactions:
- request:
    body: status=passed&reason=No+reason%2C+its+just+a+test%21
    headers:
      content-type:
      - application/x-www-form-urlencoded
    method: PUT
    uri: https://api-cloud.browserstack.com/app-automate/sessions/f3069db4f92225471e4926e28563a08f63a48674.json
  response:
    content: '{"automation_session":{"name":"Pyppium - Test","duration":null,"os":"android","os_version":"9.0","browser_version":"app","browser":null,"device":"Samsung
      Galaxy A10","status":"passed","hashed_id":"f3069db4f92225471e4926e28563a08f63a48674","reason":"No
      reason, its just a test!","build_name":"Pyppium - Test","project_name":"Pyppium
      - Test"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"2a8b79ce49e5cb7e115d9b0b7455692e"'
      status:
      - 200 OK
    status_code: 200
version: 1
